body {
	background-image: url("background.gif");
	margin-left: 10%;
	margin-right: 10%;
}
#container{
	border: 10px white solid;
	background-color: white;
}
.entry{
	border:4px #C2E9E9 solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
}
.date{
	border-bottom: 2px blue dashed; 
}
#header{
	text-align: right;
	background-color: #A8F0F0;
}
#header h2 {
	font-size: 14pt;
}
.entry img{
	float: right;
}
.spacer{
	clear: right;
}